html, body {
  /*margin: 0;*/
  /*padding: 0;*/
}

body {
  color: black;
  font-family: "Avenir Next", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.language-control {
  position: fixed;
  top: 0;
  left: 0;
}

.language-control a {
  margin-right: 15px;
}

.i18n {
  background: #DADADA;
}

.marked {
  width: 100%;
  max-width: 720px;
  margin: auto;

  font-size: 18px;
}

.marked code {
  background: #F0F0F0;
}

.marked pre code {
  font-size: 14px;
}

.marked img {
  max-width: 100%;
}

.marked video {
 max-width: 100%;
}

.marked section.exercise:before {
  content: "";
  display: block;
  border: 2px solid blue;
  margin-top: 60px;
  /*background-color: rgba(255,0,0,0.3);*/
}

.marked section.exercise:after {
  content: "";
  display: block;
  border: 2px solid rgba(0,0,255,0.3);
  margin-bottom: 60px;
  /*background-color: rgba(255,0,0,0.3);*/
}

.marked li p {
  margin: 0.6em 0;
}

.marked blockquote {
  background: #F9FBFF;
  border-left: 4px solid #BFD4FF;
  padding: 0px 10px;
  margin-left: 0;
}